body {
    background-color: #f8f8f8!important;
}

#profile-wrapper {
    text-align: center;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1);
    transition: transform .3s;
}

#profile-pic:hover {
    transform: scale(1.2);
}

ul {
    padding: 0;
    list-style-type: none;
}

.social-links ul, li {
    list-style-type: none;
    display: inline-block;
}

.social{
    width: 60px;
    height: 60px;
    transform: scale(1);
    transition: transform .5s;
}

.social:hover {
    transform: scale(1.2);
}

#tab {
    padding-left: 2em;
}

